--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.12.1+cu116
torchvision==0.13.1+cu116
torchaudio==0.12.1+cu116
tensorboard==2.10.0
opencv-python
flask==2.2.2
tqdm==4.64.0
pillow==9.2.0
pandas==1.4.3
scikit-image==1.0.2
matplotlib==3.5.3
scikit-learn==1.0.2
numpy==1.23.1
