<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test result</title>
    <link rel="stylesheet" type="text/css" href="../static/display.css"/>
</head>
<body>




<div id="content">
    <div class="main">

        <div class="mainTitle">
            <h3 class="textResult">
                {{result}}
            </h3>
        </div>
        <img src="{{ user_image }}" class="testResult">
    </div>
    <form>
        <input type="button" value="Back" onclick="history.back()" class="backButton">
    </form>
</div>
</body>
</html>