<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="" width-device-width, initial-scale="1.0">
    <title>Pneumonia Detection</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

</head>
<body>
<div class="main">
    <div class="mainTitle">
        <h3> Pneumonia Detector
        </h3>
        <span>
            <form method=post enctype=multipart/form-data>
                <span class="Button">
                    Upload Image
                    <img src="../static/bx-upload.svg" alt="" class="logoImg">
                    <input type="file" class="hide_file" name="file">
                </span>
                <span class="Button">
                    Submit
                    <img src="../static/bx-send.svg" alt="" class="logoImg">
                    <input type="submit" class="hide_file" name="submit_button">
                </span>
            </form>
            <button class="Button"><a onclick="window.open('https://github.com/Joel-De/PneumoniaDetection')">github <img
                    src="../static/bxl-github.svg" alt="" class="logoImg"> </a></button>
        </span>
    </div>
    <img src="../static/Pneumonia_1.jpeg" alt="" class="pneumoniaImg">
</div>
</body>